# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.pytest_cache/
.python-version

# FastAPI specific
.mypy_cache/
.ruff_cache/
.vscode/

# Editor/IDE files
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace

# Logs and temporary files
*.log
tmp/

score_detection/SVG_UNIFICATION_CHANGES.md
score_detection/TEMPORAL_SHOT_DETECTION.md
score_detection/test_svg_renderer.pyc
score_detection/drill.mp4
score_detection/shot.mp4
score_detection/shots.mp4
score_detection/video1.mp4
score_detection/trial.mp4


sample_videos/

score_detection/test_auto_calib.py
test_streaming_shot_detector.py

output_videos/

src/debug_shot_frames
